[submodule "mark_iot_bme280/components/bme280/driver"]
	path = mark_iot_bme280/components/bme280/driver
	url = https://github.com/BoschSensortec/BME280_driver.git
[submodule "iot_bme280/components/bme280/driver"]
	path = iot_bme280/components/bme280/driver
	url = https://github.com/BoschSensortec/BME280_driver.git
